<form action="{{ path('store_product') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': {'name': 'foo'} }) }}
    </div>
    {{ form_rest(form) }}

    <input type="submit" />
</form>